name: Build

on: [push, pull_request]

jobs:
  Build:
    name: ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.os }}

    defaults:
      run:
        shell: ${{ matrix.platform.shell }}

    strategy:
      fail-fast: false
      matrix:
        platform:
        - { name: Windows (MSVC),    os: windows-latest, shell: sh,           msvc: 1 }
        - { name: Windows (mingw32), os: windows-latest, shell: 'msys2 {0}',  msystem: mingw32, msys-env: mingw-w64-i686 }
        - { name: Windows (mingw64), os: windows-latest, shell: 'msys2 {0}',  msystem: mingw64, msys-env: mingw-w64-x86_64 }
        - { name: Linux,             os: ubuntu-22.04,   shell: sh }
        - { name: Macos,             os: macos-latest,   shell: sh }

    steps:
    - uses: actions/checkout@v5
    - name: Set up ninja
      if: ${{ !contains(matrix.platform.shell, 'msys2') }}
      uses: ./.github/actions/setup-ninja

    - uses: ilammy/msvc-dev-cmd@v1
      if: "matrix.platform.msvc"
      with:
          arch: x64
    - name: Set up MSYS2
      if: matrix.platform.shell == 'msys2 {0}'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{ matrix.platform.msystem }}
        install: >-
          ${{ matrix.platform.msys-env }}-cmake
          ${{ matrix.platform.msys-env }}-gcc
          ${{ matrix.platform.msys-env }}-ninja
    - name: Set up SDL3
      uses: libsdl-org/setup-sdl@main
      with:
        cmake-arguments: '-DSDL_X11=OFF -DSDL_WAYLAND=OFF -DSDL_UNIX_CONSOLE_BUILD=ON'  # For ci purposes, we're ok with a SDL3 without X11/Wayland
        cmake-generator: Ninja
        version: 3-head
        shell: ${{ matrix.platform.shell }}

    - name: Configure (CMake)
      run: |
        cmake -S . -B build -GNinja \
          -DSDLGESTURE_TESTS=ON \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DCMAKE_INSTALL_PREFIX=prefix
    - name: Build (CMake)
      run: |
        cmake --build build/ --parallel --verbose
    - name: Install (CMake)
      run: |
        set -eu
        cmake --install build/
        ( cd prefix; find . ) | LC_ALL=C sort -u

    - name: Verify CMake configuration files
      run: |
        cmake -S test -B cmake_config_build -GNinja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DCMAKE_PREFIX_PATH="$PWD/prefix"
        cmake --build cmake_config_build --verbose --config Release
